<!-- <div class="container-fluid contenedorprincipal">
  <div class="grid-container">
    <div class="top1">
      <div class="imgcontainer" fadeInAnimation [duration]="1" [delay]="0">
        <div class="imginter p-2">
          <img src="assets/proyecto/suizo.jpg" alt="helado top 1 suizo" />
        </div>
        <h3 class="txtreg"><a routerLink="regformulario">REGISTRAR USUARIO</a></h3>
      </div>
    </div>
    <div class="top2">
      <div class="imgcontainer" fadeInAnimation [duration]="1" [delay]="1">
        <div class="imginter p-2">
          <img src="assets/proyecto/palitoh.jpg" alt="crocante" />
        </div>

        <h3 class="txtbuscar"><a href="#">BUSCAR HELADOS</a></h3>
      </div>
    </div>
    <div class="top3">
      <div class="imgcontainer" fadeInAnimation [duration]="2" [delay]="1">
        <div class="imginter p-2">
          <img src="assets/proyecto/vasito.jpg" alt="vasitos" />
        </div>

        <h3 class="txtfiltrar">
          <a routerLink="reghelado">REGISTRAR HELADOS</a>
        </h3>
      </div>
    </div>
    <div class="sidebar">
      <div class="circle-img">
        <img
          src="assets/sobremi/tongasmirasuelo.jpg"
          alt="usuario"
          class="rounded-circle"
        />

        <h3><small class="moverimg" fadeInAnimation [duration]="1" [delay]="1">Nombre</small></h3>
        <h3><small fadeInAnimation [duration]="2" [delay]="1">Nombre Usuario</small></h3>
        <h3><small fadeInAnimation [duration]="3" [delay]="1">Administrador</small></h3>
      </div>
    </div>
    <div class="main">
      <div class="imgmain">
        <div class="form" fadeInAnimation [duration]="2" [delay]="1">
          <router-outlet></router-outlet>
        </div>
        <img src="assets/proyecto/backhelado2.jpg" alt="bg cream" />
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="container-fluid">
  <h2 class="gb-danger">UNDERCONTRUCCION</h2>
</div> -->