@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Raleway:ital,wght@1,100&display=swap");
video {
  /* position: absolute; */
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  /*  mix-blend-mode: overlay;
  will-change: opacity; */
  opacity: 0.3;
}

.position_fixed {
  position: fixed;
}

.position_absolute {
  position: absolute;
}

.hero__contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #54679914;
  /*
    background hero color boton cambiando
  */
  /* @keyframes deg45 {
            from {
                transition: 0.70s;
                transform: rotate(0deg);
            }
            to {
                transition: 0.70s;
                transform: rotate(45deg);
            }
    } */
}

.hero__contenido .hero__textos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* position: fixed; */
  color: #faebd780;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.hero__contenido .hero__textos .navtext {
  font-size: clamp(12px, 2vw, 20px);
  color: green;
}

.hero__contenido .hero__textos p {
  font-size: clamp(10px, 2.4vw, 25px);
  color: antiquewhite;
}

.hero__contenido .background_video {
  background: #1c1c3c61;
  -webkit-transition: background-color 2900ms linear;
  transition: background-color 2900ms linear;
}

.hero__contenido .background_novideo {
  background-color: #000;
  -webkit-transition: background-color 2900ms linear;
  transition: background-color 2900ms linear;
  background-image: url("src/assets/nuevohero/fondohero5.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  opacity: 0.9;
}

.hero__contenido .card_video {
  background: #2d415a45;
  -webkit-transition: background-color 2700ms linear;
  transition: background-color 2700ms linear;
}

.hero__contenido .card_novideo {
  background: transparent;
  -webkit-transition: background-color 2700ms linear;
  transition: background-color 2700ms linear;
}

.hero__contenido .hero__textosoverlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  /* background-color: transparent;  */
}

.hero__contenido .hero__textosoverlay .switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  padding: 5px;
  z-index: 9999;
  color: white;
  border-radius: 1px 1px 10px 10px;
}

.hero__contenido .hero__textosoverlay .switch i {
  font-size: 1.2rem;
  cursor: pointer;
}

.hero__contenido .hero__textoscontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__contenido .hero__textoscontainer .row main .about .title h1 {
  color: skyblue;
  font-family: "Raleway", sans-serif;
}

.hero__contenido .hero__textoscontainer .row main .about .desc .hero__subtitulo {
  font-family: Merriweather, serif;
}

.hero__contenido .hero__textoscontainer .row .row_cards {
  /* background-color: #2d415aa3; */
  /* background: rgba( 255, 255, 255, 0.25 ); */
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.02);
}

.hero__contenido .hero__textoscontainer .row .row_cards .card {
  border: 1px solid rgba(0, 0, 0, 0);
}

.hero__contenido .hero__textoscontainer .row .row_cards .card .card_body p {
  color: white;
  font-family: Merriweather, serif;
}

.hero__contenido .hero__textoscontainer .row .row_cards .card:hover {
  background-color: #0a5c640d;
  -webkit-transition: background-color 2000ms linear;
  transition: background-color 2000ms linear;
}

.hero__contenido .hero__titulo {
  font-size: clamp(12px, 2vw, 20px);
}

.hero__contenido .hero__flechacontainer {
  width: clamp(10px, 50px, 60px);
  text-align: center;
  height: 50px;
  box-shadow: 2px -1px 21px 10px rgba(0, 0, 0, 0.84);
  -webkit-box-shadow: 2px -1px 21px 10px rgba(0, 0, 0, 0.84);
  -moz-box-shadow: 2px -1px 21px 10px rgba(0, 0, 0, 0.84);
}

.hero__contenido .hero__flechacontainer .slidedown {
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  bottom: 0px;
  z-index: 2;
  position: absolute;
  width: 30px;
  height: 40px;
  border-radius: 15px;
  color: #fff;
  background-color: #004fe40a;
  border: 1px solid #fff;
}

.hero__contenido .hero__flechacontainer .arriba__abajo {
  width: 4px;
  height: 9px;
  position: absolute;
  top: 8px;
  left: 11px;
  border-radius: 1px;
  -webkit-animation: arriba__abajo 1.25s infinite;
          animation: arriba__abajo 1.25s infinite;
  border: 2px solid #fff;
}

@-webkit-keyframes arriba__abajo {
  0% {
    opacity: 1;
    top: 5px;
  }
  100% {
    opacity: 0;
    top: 20px;
  }
}

@keyframes arriba__abajo {
  0% {
    opacity: 1;
    top: 5px;
  }
  100% {
    opacity: 0;
    top: 20px;
  }
}

.hero__contenido .hero__flechacontainer .flecha {
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  display: none;
  position: absolute;
  height: 10px;
  width: 100%;
}

.hero__contenido .hero__link {
  text-decoration: none;
}

.hero__contenido .hero__link img {
  width: clamp(20px, 2vw, 50px);
  -webkit-animation: ArribaAbajo 2s linear infinite;
          animation: ArribaAbajo 2s linear infinite;
  position: absolute;
  left: 0;
  bottom: 0;
}

@-webkit-keyframes ArribaAbajo {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 8px;
  }
}

@keyframes ArribaAbajo {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 8px;
  }
}

@media screen and (max-width: 1920px) {
  /*
  .hero {
    background-image: url("src/assets/nuevohero/keyword.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: #000;
  }*/
  .hero__textos .navtext {
    /* font-size: clamp(12px, 2vw, 20px); */
    font-size: 24px;
  }
  .hero__textos p {
    font-size: clamp(10px, 2.4vw, 25px);
    color: antiquewhite;
  }
  .hero__textosoverlay .switch {
    top: 5px;
    right: 10px;
    width: 50px;
    height: 80px;
    background-color: #08407b4f;
  }
  .hero__textoscontainer {
    width: 100%;
    /* TESTING 3 ----------------------------------------- */
    /* TESTING 3 ----------------------------------------- */
  }
  .hero__textoscontainer .row {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  .hero__textoscontainer .row main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
    height: 100%;
  }
  .hero__textoscontainer .row .row_cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    height: 60%;
    padding: 5px;
  }
  .hero__textoscontainer .menu {
    width: 44px;
    position: relative;
    top: -10px;
    height: 3px;
    background: #00000054;
    -webkit-box-shadow: 0px 11px #ff00006b, 1px 22px #66b78d;
            box-shadow: 0px 11px #ff00006b, 1px 22px #66b78d;
  }
  .hero__textoscontainer nav {
    padding: 8px;
    height: 44px;
    color: #909090;
    font-weight: lighter;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__textoscontainer h2 {
    font-weight: lighter;
  }
  .hero__textoscontainer header {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  }
  .hero__textoscontainer .about {
    text-align: center;
    color: gray;
    padding: 10px;
  }
  .hero__textoscontainer .title {
    font-size: 22px;
    color: #2c2c2c;
  }
  .hero__textoscontainer .title h1 {
    font-size: 1.5rem;
  }
  .hero__textoscontainer .desc {
    color: #909090;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.45em;
    margin-bottom: 15px;
    margin-top: 30px;
    width: 100%;
    margin: 0 auto;
  }
  .hero__textoscontainer .desc p {
    font-size: 3rem;
    line-height: 3rem;
  }
  .hero__textoscontainer .flip-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    background-color: transparent;
    border: 1px solid #f1f1f1;
    width: 90%;
    height: 80%;
  }
  .hero__textoscontainer .flip-card-inner {
    position: relative;
    width: 95%;
    height: 95%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  .hero__textoscontainer .flip-card:hover .flip-card-inner {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .hero__textoscontainer .flip-card-front,
  .hero__textoscontainer .flip-card-back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
  }
  .hero__textoscontainer .flip-card-front {
    background-color: #203a51;
    color: black;
  }
  .hero__textoscontainer .flip-card-back {
    background-color: #252e42;
    color: white;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .hero__textoscontainer .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px;
    padding: 0 10px 0 10px;
    background: #0203047d;
    width: 100%;
    height: 90%;
  }
  .hero__textoscontainer .card_row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .hero__textoscontainer .card_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-box-shadow: 0 9px 30px -6px rgba(24, 206, 15, 0.3);
            box-shadow: 0 9px 30px -6px rgba(24, 206, 15, 0.3);
    position: relative;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
  .hero__textoscontainer .card_front_innertitles,
  .hero__textoscontainer .card_backend_innertitles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
    height: 80%;
  }
  .hero__textoscontainer .fas,
  .hero__textoscontainer .fab {
    display: inline-block;
    position: absolute;
    color: #4bdda0;
    -webkit-transform: translate(-52%, 75%);
            transform: translate(-52%, 75%);
    font-size: 40px;
  }
  .hero__textoscontainer .card_title {
    font-size: 20px;
    margin: 12px;
    font-weight: bold;
    color: #000000a8;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }
  .hero__textoscontainer .card:hover {
    background-color: red;
    -webkit-transform: rotateY(0.5turn);
            transform: rotateY(0.5turn);
  }
  .hero__textoscontainer .card:hover .card_title {
    color: #4bd482;
  }
  .hero__textoscontainer .card:hover .card_img {
    -webkit-transform: translate(0px, -10px);
            transform: translate(0px, -10px);
  }
  .hero__textoscontainer .card_body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #8c9490;
    font-size: 16px;
    padding: 0 5px;
    line-height: 1.5;
    word-spacing: 2px;
    width: 90%;
  }
  .hero__textoscontainer .card_body .card_body--parrafo {
    width: 100%;
    padding: 3px;
    background-color: black;
    height: 100%;
    width: 100%;
  }
  .hero__textoscontainer .card_body p {
    text-align: left;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1280px) {
  .hero__textos .navtext {
    font-size: 22px;
  }
  .hero__textos p {
    font-size: clamp(10px, 2.4vw, 25px);
    color: antiquewhite;
  }
  .hero__textosoverlay .switch {
    top: 5px;
    right: 10px;
    width: 50px;
    height: 80px;
    background-color: #08407b4f;
  }
  .hero__textoscontainer {
    width: 80%;
    /* TESTING 3 ----------------------------------------- */
    /* TESTING 3 ----------------------------------------- */
  }
  .hero__textoscontainer .row {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__textoscontainer .row .row_cards {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__textoscontainer .menu {
    width: 44px;
    position: relative;
    top: -10px;
    height: 3px;
    background: #00000054;
    -webkit-box-shadow: 0px 11px #ff00006b, 1px 22px #66b78d;
            box-shadow: 0px 11px #ff00006b, 1px 22px #66b78d;
  }
  .hero__textoscontainer nav {
    padding: 8px;
    height: 44px;
    color: #909090;
    font-weight: lighter;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__textoscontainer h2 {
    font-weight: lighter;
  }
  .hero__textoscontainer header {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  }
  .hero__textoscontainer .about {
    text-align: center;
    color: gray;
    padding: 40px;
  }
  .hero__textoscontainer .title {
    font-size: 22px;
    color: #2c2c2c;
  }
  .hero__textoscontainer .title h1 {
    font-size: 25px;
  }
  .hero__textoscontainer .desc {
    color: #909090;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.45em;
    margin-bottom: 15px;
    margin-top: 30px;
    width: 100%;
    margin: 0 auto;
  }
  .hero__textoscontainer .desc p {
    font-size: 4.5rem;
    line-height: 6rem;
  }
  .hero__textoscontainer .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px;
  }
  .hero__textoscontainer .card_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-box-shadow: 0 9px 30px -6px rgba(24, 206, 15, 0.3);
            box-shadow: 0 9px 30px -6px rgba(24, 206, 15, 0.3);
    position: relative;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
  .hero__textoscontainer .fas,
  .hero__textoscontainer .fab {
    display: inline-block;
    position: absolute;
    color: #63b563;
    -webkit-transform: translate(-52%, 75%);
            transform: translate(-52%, 75%);
    font-size: 40px;
  }
  .hero__textoscontainer .card_title {
    font-size: 20px;
    margin: 12px;
    font-weight: bold;
    color: #000000a8;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }
  .hero__textoscontainer .card:hover .card_title {
    color: #4bd482;
  }
  .hero__textoscontainer .card:hover .card_img {
    -webkit-transform: translate(0px, -10px);
            transform: translate(0px, -10px);
  }
  .hero__textoscontainer .card_body {
    color: #8c9490;
    font-size: 16px;
    padding: 0 5px;
    line-height: 1.5;
    word-spacing: 4px;
  }
}

@media screen and (max-width: 980px) {
  .hero__textos .navtext {
    /* font-size: clamp(12px, 2vw, 20px); */
    font-size: 20px;
  }
  .hero__textos p {
    font-size: clamp(10px, 2.4vw, 25px);
    color: antiquewhite;
  }
  .hero__textosoverlay .switch {
    top: 5px;
    right: 10px;
    width: 50px;
    height: 80px;
    background-color: #08407b4f;
  }
  .hero__textoscontainer {
    width: 80%;
    /* TESTING 3 ----------------------------------------- */
    /* TESTING 3 ----------------------------------------- */
  }
  .hero__textoscontainer .row {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__textoscontainer .row .row_cards {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__textoscontainer .menu {
    width: 44px;
    position: relative;
    top: -10px;
    height: 3px;
    background: #00000054;
    -webkit-box-shadow: 0px 11px #ff00006b, 1px 22px #66b78d;
            box-shadow: 0px 11px #ff00006b, 1px 22px #66b78d;
  }
  .hero__textoscontainer nav {
    padding: 8px;
    height: 44px;
    color: #909090;
    font-weight: lighter;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__textoscontainer h2 {
    font-weight: lighter;
  }
  .hero__textoscontainer header {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  }
  .hero__textoscontainer .about {
    text-align: center;
    color: gray;
    padding: 40px;
  }
  .hero__textoscontainer .title {
    font-size: 22px;
    color: #2c2c2c;
  }
  .hero__textoscontainer .title h1 {
    font-size: 25px;
  }
  .hero__textoscontainer .desc {
    color: #909090;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.45em;
    margin-bottom: 15px;
    margin-top: 30px;
    width: 100%;
    margin: 0 auto;
  }
  .hero__textoscontainer .desc p {
    font-size: 4rem;
    line-height: 5rem;
  }
  .hero__textoscontainer .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px;
  }
  .hero__textoscontainer .card_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-box-shadow: 0 9px 30px -6px rgba(24, 206, 15, 0.3);
            box-shadow: 0 9px 30px -6px rgba(24, 206, 15, 0.3);
    position: relative;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
  .hero__textoscontainer .fas,
  .hero__textoscontainer .fab {
    display: inline-block;
    position: absolute;
    color: #63b563;
    -webkit-transform: translate(-52%, 75%);
            transform: translate(-52%, 75%);
    font-size: 40px;
  }
  .hero__textoscontainer .card_title {
    font-size: 20px;
    margin: 12px;
    font-weight: bold;
    color: #000000a8;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }
  .hero__textoscontainer .card:hover .card_title {
    color: #4bd482;
  }
  .hero__textoscontainer .card:hover .card_img {
    -webkit-transform: translate(0px, -10px);
            transform: translate(0px, -10px);
  }
  .hero__textoscontainer .card_body {
    color: #8c9490;
    font-size: 16px;
    padding: 0 5px;
    line-height: 1.5;
    word-spacing: 4px;
  }
}

@media screen and (max-width: 850px) {
  .hero__textos .navtext {
    /* font-size: clamp(12px, 2vw, 20px); */
    font-size: 18px;
  }
  .hero__textos p {
    font-size: clamp(10px, 2.4vw, 25px);
    color: antiquewhite;
  }
  .hero__textosoverlay .switch {
    top: 5px;
    right: 10px;
    width: 50px;
    height: 80px;
    background-color: #08407b4f;
  }
  .hero__textoscontainer {
    width: 70%;
    /* TESTING 3 ----------------------------------------- */
    /* TESTING 3 ----------------------------------------- */
  }
  .hero__textoscontainer .row {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__textoscontainer .row .row_cards {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .hero__textoscontainer .menu {
    width: 44px;
    position: relative;
    top: -10px;
    height: 3px;
    background: #00000054;
    -webkit-box-shadow: 0px 11px #ff00006b, 1px 22px #66b78d;
            box-shadow: 0px 11px #ff00006b, 1px 22px #66b78d;
  }
  .hero__textoscontainer nav {
    padding: 8px;
    height: 44px;
    color: #909090;
    font-weight: lighter;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__textoscontainer h2 {
    font-weight: lighter;
  }
  .hero__textoscontainer header {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  }
  .hero__textoscontainer .about {
    text-align: center;
    color: gray;
    padding: 0px;
  }
  .hero__textoscontainer .title {
    font-size: 22px;
    color: #2c2c2c;
  }
  .hero__textoscontainer .title h1 {
    font-size: 25px;
  }
  .hero__textoscontainer .desc {
    color: #909090;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.45em;
    margin-bottom: 15px;
    margin-top: 30px;
    width: 100%;
    margin: 0 auto;
  }
  .hero__textoscontainer .desc p {
    font-size: 2.5rem;
    line-height: 5rem;
  }
  .hero__textoscontainer .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px;
  }
  .hero__textoscontainer .card_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-box-shadow: 0 9px 30px -6px rgba(24, 206, 15, 0.3);
            box-shadow: 0 9px 30px -6px rgba(24, 206, 15, 0.3);
    position: relative;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
  .hero__textoscontainer .fas,
  .hero__textoscontainer .fab {
    display: inline-block;
    position: absolute;
    color: #63b563;
    -webkit-transform: translate(-52%, 75%);
            transform: translate(-52%, 75%);
    font-size: 40px;
  }
  .hero__textoscontainer .card_title {
    font-size: 20px;
    margin: 12px;
    font-weight: bold;
    color: #000000a8;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }
  .hero__textoscontainer .card:hover .card_title {
    color: #4bd482;
  }
  .hero__textoscontainer .card:hover .card_img {
    -webkit-transform: translate(0px, -10px);
            transform: translate(0px, -10px);
  }
  .hero__textoscontainer .card_body {
    color: #8c9490;
    font-size: 16px;
    padding: 0 5px;
    line-height: 1.5;
    word-spacing: 4px;
  }
}

@media screen and (max-width: 779px) {
  .hero__textos .navtext {
    /* font-size: clamp(12px, 2vw, 20px); */
    font-size: 16px;
  }
  .hero__textos p {
    font-size: clamp(10px, 2.4vw, 25px);
    color: antiquewhite;
  }
  .hero__textosoverlay .switch {
    top: 5px;
    right: 10px;
    width: 50px;
    height: 80px;
    background-color: #08407b4f;
  }
  .hero__textosoverlay .hero__flechacontainer {
    position: absolute;
    bottom: 5rem;
  }
  .hero__textoscontainer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 70%;
    height: 100%;
    /* TESTING 3 ----------------------------------------- */
    /* TESTING 3 ----------------------------------------- */
  }
  .hero__textoscontainer .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    height: 80%;
    width: 95%;
  }
  .hero__textoscontainer .row .row_cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
    margin: 0;
    width: 100%;
  }
  .hero__textoscontainer .menu {
    width: 44px;
    position: relative;
    top: -10px;
    height: 3px;
    background: #00000054;
    -webkit-box-shadow: 0px 11px #ff00006b, 1px 22px #66b78d;
            box-shadow: 0px 11px #ff00006b, 1px 22px #66b78d;
  }
  .hero__textoscontainer nav {
    padding: 8px;
    height: 44px;
    color: #909090;
    font-weight: lighter;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__textoscontainer h2 {
    font-weight: lighter;
  }
  .hero__textoscontainer header {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  }
  .hero__textoscontainer .about {
    text-align: center;
    color: gray;
    padding: 0px;
  }
  .hero__textoscontainer .title {
    font-size: 22px;
    color: #2c2c2c;
  }
  .hero__textoscontainer .title h1 {
    font-size: 25px;
  }
  .hero__textoscontainer .desc {
    color: #909090;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.45em;
    margin-bottom: 15px;
    margin-top: 30px;
    width: 100%;
    margin: 0 auto;
  }
  .hero__textoscontainer .desc p {
    font-size: 2.5rem;
    line-height: 5rem;
  }
  .hero__textoscontainer .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 8px;
    max-height: 170px;
  }
  .hero__textoscontainer .card_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-box-shadow: 0 9px 30px -6px rgba(24, 206, 15, 0.3);
            box-shadow: 0 9px 30px -6px rgba(24, 206, 15, 0.3);
    position: relative;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
  .hero__textoscontainer .fas,
  .hero__textoscontainer .fab {
    display: inline-block;
    position: absolute;
    color: #63b563;
    -webkit-transform: translate(-52%, 75%);
            transform: translate(-52%, 75%);
    font-size: 40px;
  }
  .hero__textoscontainer .card_title {
    font-size: 20px;
    margin: 12px;
    font-weight: bold;
    color: #000000a8;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }
  .hero__textoscontainer .card:hover .card_title {
    color: #4bd482;
  }
  .hero__textoscontainer .card:hover .card_img {
    -webkit-transform: translate(0px, -10px);
            transform: translate(0px, -10px);
  }
  .hero__textoscontainer .card_body {
    color: #8c9490;
    font-size: 16px;
    padding: 0 5px;
    line-height: 1.5;
    word-spacing: 4px;
  }
}

@media screen and (max-width: 537px) {
  .hero__contenido {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    width: 100%;
  }
  .hero__contenido .hero__flechacontainer {
    width: clamp(10px, 50px, 60px);
    text-align: center;
    position: absolute;
    height: 50px;
    bottom: 60px;
    left: 45%;
  }
  .hero__textos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #3c80a2;
    width: 100%;
    height: 100vh;
    padding: 0px;
    background: transparent;
  }
  .hero__textos .navtext {
    /* font-size: clamp(12px, 2vw, 20px); */
    font-size: clamp(12px);
  }
  .hero__textos p {
    font-size: 0.5rem;
    color: antiquewhite;
  }
  .hero__textosoverlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    background: #062a5b0f;
  }
  .hero__textosoverlay .switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 15px;
    right: 8px;
    padding: 5px;
    z-index: 9999;
    color: #fff;
    border-radius: 1px 1px 10px 10px;
    width: 30px;
    height: 60px;
    background-color: #000;
  }
  .hero__textoscontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 100vh;
    padding: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    /* TESTING 3 ----------------------------------------- */
    /* TESTING 3 ----------------------------------------- */
  }
  .hero__textoscontainer .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__textoscontainer .row .row_cards {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .hero__textoscontainer .menu {
    width: 44px;
    position: relative;
    top: -10px;
    height: 3px;
    background: #00000054;
    -webkit-box-shadow: 0px 11px #ff00006b, 1px 22px #66b78d;
            box-shadow: 0px 11px #ff00006b, 1px 22px #66b78d;
  }
  .hero__textoscontainer nav {
    padding: 8px;
    height: 44px;
    color: #909090;
    font-weight: lighter;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__textoscontainer h2 {
    font-weight: lighter;
  }
  .hero__textoscontainer header {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  }
  .hero__textoscontainer .about {
    text-align: center;
    color: gray;
    padding: 0px;
  }
  .hero__textoscontainer .title {
    font-size: 0px;
    color: #2c2c2c;
  }
  .hero__textoscontainer .title h1 {
    font-size: 18px;
  }
  .hero__textoscontainer .desc {
    color: #909090;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.45em;
    margin-bottom: 15px;
    margin-top: 30px;
    width: 100%;
    margin: 0 auto;
  }
  .hero__textoscontainer .desc p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .hero__textoscontainer .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 8px;
    max-height: 130px;
  }
  .hero__textoscontainer .card_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-box-shadow: 0 9px 30px -6px rgba(24, 206, 15, 0.3);
            box-shadow: 0 9px 30px -6px rgba(24, 206, 15, 0.3);
    position: relative;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
  .hero__textoscontainer .fas,
  .hero__textoscontainer .fab {
    display: inline-block;
    position: absolute;
    color: #63b563;
    -webkit-transform: translate(-52%, 75%);
            transform: translate(-52%, 75%);
    font-size: 40px;
  }
  .hero__textoscontainer .card_title {
    font-size: 20px;
    margin: 12px;
    font-weight: bold;
    color: #000000a8;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }
  .hero__textoscontainer .card:hover .card_title {
    color: #4bd482;
  }
  .hero__textoscontainer .card:hover .card_img {
    -webkit-transform: translate(0px, -10px);
            transform: translate(0px, -10px);
  }
  .hero__textoscontainer .card_body {
    color: #8c9490;
    font-size: 16px;
    padding: 0 5px;
    line-height: 1.5;
    word-spacing: 4px;
  }
}

@media screen and (max-width: 322px) {
  .hero__textos {
    /*    p {
        font-size: clamp(10px, 2.4vw, 25px);
        color: antiquewhite;
      } */
  }
  .hero__textos .navtext {
    /* font-size: clamp(10px, 2vw, 15px); */
    font-size: 10px;
  }
  .hero__textosoverlay {
    background: #062a5b0f;
  }
  .hero__textoscontainer {
    width: 100%;
    /* TESTING 3 ----------------------------------------- */
    /* TESTING 3 ----------------------------------------- */
  }
  .hero__textoscontainer .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 230px;
  }
  .hero__textoscontainer .row .row_cards {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: scroll;
    margin: 0;
  }
  .hero__textoscontainer .menu {
    width: 44px;
    position: relative;
    top: -10px;
    height: 3px;
    background: #00000054;
    -webkit-box-shadow: 0px 11px #ff00006b, 1px 22px #66b78d;
            box-shadow: 0px 11px #ff00006b, 1px 22px #66b78d;
  }
  .hero__textoscontainer nav {
    padding: 8px;
    height: 44px;
    color: #909090;
    font-weight: lighter;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__textoscontainer h2 {
    font-weight: lighter;
  }
  .hero__textoscontainer header {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  }
  .hero__textoscontainer .about {
    text-align: center;
    color: gray;
    padding: 8px;
  }
  .hero__textoscontainer .title {
    font-size: 22px;
    color: #2c2c2c;
  }
  .hero__textoscontainer .title h1 {
    font-size: 25px;
  }
  .hero__textoscontainer .desc {
    color: #909090;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.2em;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 100%;
    margin: 0 auto;
  }
  .hero__textoscontainer .desc p {
    font-size: 1.4rem;
    line-height: 3rem;
  }
  .hero__textoscontainer .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px;
  }
  .hero__textoscontainer .card_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-box-shadow: 0 9px 30px -6px rgba(24, 206, 15, 0.3);
            box-shadow: 0 9px 30px -6px rgba(24, 206, 15, 0.3);
    position: relative;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
  .hero__textoscontainer .fas,
  .hero__textoscontainer .fab {
    display: inline-block;
    position: absolute;
    color: #63b563;
    -webkit-transform: translate(-52%, 75%);
            transform: translate(-52%, 75%);
    font-size: 40px;
  }
  .hero__textoscontainer .card_title {
    font-size: 20px;
    margin: 12px;
    font-weight: bold;
    color: #000000a8;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }
  .hero__textoscontainer .card:hover .card_title {
    color: #4bd482;
  }
  .hero__textoscontainer .card:hover .card_img {
    -webkit-transform: translate(0px, -10px);
            transform: translate(0px, -10px);
  }
  .hero__textoscontainer .card_body {
    color: #8c9490;
    font-size: 16px;
    padding: 0 5px;
    line-height: 1.5;
    word-spacing: 4px;
    /*       p {
        font-size: 12px;
      } */
  }
}
/*# sourceMappingURL=nuevohero.component.css.map */