<link
  href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
  rel="stylesheet"
/>
<link
  href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<div class="hero">
  <div class="hero__contenido">
    <div class="hero__textos">
      <div
        [ngClass]="
          (cambiarFondo$ | async) ? 'background_video' : 'background_novideo'
        "
        class="hero__textosoverlay"
      >
        <div class="hero__textoscontainer">
          <div class="row">
            <main>
              <div class="about">
                <div class="title">
                  <h1 class="hero__titulo">
                    GASTON <span id="aletext">ALEJANDRO</span>
                  </h1>
                </div>
              </div>
              <div
                [ngClass]="
                  (cambiarFondo$ | async) ? 'card_video' : 'card_novideo'
                "
                class="row row_cards hero__subtitulo"
              >
                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <div class="card card_row hero__subtitulo1">
                        <div class="card_img">
                          <i class="fas fa-desktop"></i>
                        </div>

                        <div class="card_front_innertitles">
                          <div class="card_title">FRONT-END DISEÑO</div>
                          <div class="card_body">
                            <div id="card_body--parrafo">
                              <p>
                                Brindando experiencias de usuario responsive,
                                minimalista y funcional.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="flip-card-back">
                      <!--  PARTE BACKEND CUANDO GIRA -->
                      <div class="card card_row-reverse hero__subtitulo1">
                        <div class="card_img">
                          <i class="fas fa-code"></i>
                        </div>

                        <div class="card_backend_innertitles">
                          <div class="card_title">BACK-END DEV</div>

                          <div class="card_body">
                            <div id="card_body--parrafo">
                              <p>
                                Desarrollo Back End Enfocado en diseño de API's
                                y Software escalable.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </main>
          </div>
        </div>

        <div class="hero__flechacontainer hero__subtitulo1">
          <span class="slidedown" (click)="dioClick.emit()">
            <span class="arriba__abajo colorblanco"></span>
          </span>

          <span class="flecha"> </span>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
