<div class="container-fluid principal">
  <div class="img">

    <div class="container">

      <div class="container_secundario">

        <div class="containera1">

          <div class="parrafo">
            <p>BIENVENIDO</p>
          </div>
         
          <div class="icono">
            <i class="fa fa-times" aria-hidden="true"></i>
          </div>

      </div>

      <div class="containera">
          
          <div class="titulomain typewriter">
            <h1>Descargar CV</h1>
          </div>

          <div class="linkaimg">

              <a
              href="assets/experiencia/cv.pdf"
              target="_blank"
              download="gastoncv.pdf"
              class=" btn btn-success"
            >
              <h1 class="parpadea">PRESIONA</h1>
            </a>
          </div>

      </div>
      </div>
        
        
       
    </div>
    
       
    
  </div>

 

  <span class=""></span>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap" rel="stylesheet"> 

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Gluten:wght@700&display=swap"
  rel="stylesheet"
/>