<div class="grid" id="hero">
  <div class="hero" >
    <h1 class="hero__titulo">PONCE GASTON</h1>
    <div class="hero__textos">

      <h1 class="hero__titulo">
        Hi!, I am Gaston fullstack web developer Junior
      </h1>

      <h3 class="hero__subtitulo">
        Current student of Computer Systems Analysts
      </h3>

      <div class="hero__cta--container btn-block" #btncontainer>
       
        <a href="#" class="hero__cta" #textobtn>SOBRE MI</a>
        
      </div>
      
    </div>

    <div class="hero__imagen">

      <img
        src="../assets/ideas.png"
        alt="escritorio svg"
        class="hero__imagen--escritorio img__animar"
      />

      <div class="triangulotop"></div>
      <div class="triangulobottom"></div>
    </div>

    <div class="wave"></div>

  </div>
</div>


