<section class="work">
  
  <div class="work__grid--overlay">
    <h1 class="work__h1">Bienvenido a mi pagina web</h1>
  </div> 

  
  <div class="work__gridcontainer">

    <div class="work__form">
      
      <div class="area__sociales">
        <img src="../assets/español.png" alt="vacio">
        <img src="../assets/linkedint.png" alt="linkedin">
        <img src="../assets/githubicono.png" alt="github">
      </div>

      <div class="form__form">
        <div class="contacto">
          <h2>Contacto</h2>
          <form>
            <div class="field-text">
              <input type="email" placeholder="Ingresar Email">
            </div>
            
            <br>
            <div class="field-text">
              <input type="password" placeholder="Ingresar Nombre">
            </div>
            
            <br>
            <div class="field-text">
              <textarea name="txtarea" placeholder="Escribeme algo..." ></textarea>
            </div>
            
            <br>
            <div class="btnenviar">
              <a href="" class="cta">Enviar</a>
            </div>
          </form>

        </div>

      </div>
      <div class="form__links">
        <div class="form__barra-container">
          <h3>
            <a routerLink="sobremi">Sobre mi</a>
          </h3>
          <h3>
            <a href="#">Experciencia</a>
          </h3>
          <h3>
            <a href="#">Proyectos</a>
          </h3>
          <h3>
            <a href="#">Skills</a>
          </h3>
        </div>
      </div>

    </div>

    <!-- aca va ir main -->

    <div class="work__main">
  
      <div class="work__main--sobremi">
        <h1>Sobre mi</h1>
     </div>
     <div class="work__main--parrafo">
        <p class="growp">
          Full stack developer junior apasionado
          y estudiante de la carrera analista 
          de sistemas computacional cursando
          el ultimo año
        </p>
     </div>
  
     <div class="work__main--img">
       <div class="imgbio">
         <img src="../assets/tongasnegra.jpg" alt="imagen">
        </div>
     </div>
      
    </div>

    
    
    <!-- aca va ir main -->


    <div class="barra__footer">
      <div class="barra__footercontainer">
        <img src="../assets/banderainglesa.png" alt="bandera britanica">
        <img src="../assets/español.png" alt="bandera español">
      </div>
    </div>
  </div>
  
</section>

