@import "_paletaobscura";
@import "_paletaaplicacion";

.work {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  position: relative;
  background: #d6e0f0;
  /* @include work(); */
}

/* TOP RECTANGULO ABAJO DEL DEG */
.work__grid--overlay {
  /* position: absolute; */
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100px;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* background: rgb(131, 179, 20); */
  background: $c_textotitulo;
}

/* TOP RECTANGULO ABAJO DEL DEG */
.work__grid--overlay > h1 {
  color: #8d93ab;
  text-shadow: 0px 5px 10px #44444d;
  font-weight: 100;
  text-transform: uppercase;
}

/* nuevo empezar */

.work__gridcontainer {
  height: 100%;
  background: red;
}

.work__gridcontainer {
  font-family: "Maiden Orange", cursive;
  position: relative;
  top: 100px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 20% auto;
  grid-template-rows: 1fr 0.2fr;

  grid-template-areas:
    "work__form work__main"
    "barra__footer barra__footer";

  background: $c_fondo;
}

/* AREAS */
.work__form {
  grid-area: work__form;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.6fr 0.9fr;
  gap: 0px 0px;
  grid-template-areas:
    "form__sociales"
    "form__form"
    "form__links";
  .area__sociales {
    grid-area: form__sociales;
  }

  .form__form {
    grid-area: form__form;
  }

  .form__links {
    grid-area: form__links;
    .form__barra-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 > a {
        background: $c_barra;
        display: block;
        text-align: center;
        padding: 10px;
        color: $c_textoform;
        text-decoration: none;
      }
    }
  }
  
}
/* WORK MAIN */
.work__main {
  background: $c_interno;
  grid-area: work__main;
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-rows: 0.6fr 2fr 1fr;
  grid-gap: 5px;
  grid-template-areas:
    "work__main--sobremi ."
    "work__main--parrafo work__main--img"
    ". work__main--img"
    ;

  /* GRID AREAS*/

  /* fuentes del web aplication */
  /* @import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap'); */
  /* @import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&family=Yatra+One&display=swap'); */
  //@import url("https://fonts.googleapis.com/css2?family=Maiden+Orange&family=UnifrakturMaguntia&family=Yatra+One&display=swap");

  .work__main--sobremi {
    grid-area: work__main--sobremi;
  }

  .work__main--parrafo {
    grid-area: work__main--parrafo;
  }

  .work__main--img {
    grid-area: work__main--img;
  }

  .work__main--barra {
    grid-area: work__main--barra;
    background: $c_interno;
    margin-bottom: 10px;
  }
}

/* work main sobre mi atributos  */
.work__main--sobremi {
  display: flex;
  align-items: center;
  padding-left: 35px;
  h1 {
    color: $c_textoform;
    font-size: 60px;
  }
}

/* work main parrafo atributos */
.work__main--parrafo {
  padding-top: 40px;
  padding-left: 50px;
  p {
    color: $c_textoform;
    font-size: 50px;
  }
}
/* WORK MAIN */

/* work main barra atributos */
.work__main--barra {
  display: flex;
  justify-content: center;
  .barra-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    background: $c_barra;
    color: $c_textoform;
  }
}

.barra__footer {
  background-color: $c_interno;
  grid-area: barra__footer;
}

/* FIN DE AREAS */

/************************************** formulario iconos sociales */
.area__sociales {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  img {
    height: 50px;
    width: 50px;
  }
}

/************************************** formulario el formulario */
.contacto {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  h2 {
    color: $c_textoform;
    font-size: 60px;
  }
}

form {
  width: 80%;
  padding: 5px;

  .field-text {
    width: 90%;
    margin: 0 auto;

    input {
      background: $c_textoform;
      border: 1px solid $c_textoform;
      width: 100%;
      border-radius: 20px;
      opacity: 0.7;
      text-align: center;
      ::placeholder {
        color: $c_textoform;
        font-size: 1.5em;
        margin-left: 10px;
      }
    }
    textarea {
      border: 1px solid $c_textoform;
      border-radius: 10px;
      background: $c_textoform;
      width: 100%;
      opacity: 0.7;
      text-align: center;
    }
  }
}

.btnenviar {
  display: flex;
  justify-content: center;

  a {
    display: block;
    border: 1px solid;
    width: 30%;
    text-align: center;
    padding: 5px;
    color: $c_textoform;
    border-radius: 10%;
    text-transform: uppercase;
  }
}

.imgbio {
  img {
    width: 425px;
    height: 504px;
  }
}

/* BARRA FOOTER ATRIBUTOS*/
.barra__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  .barra__footercontainer {
    width: 200px;
    display: flex;
    justify-content: space-between;
    img {
      width: 60px;
      height: 60px;
    }
  }
}

@media screen and (max-width: 940px) {
  
}

@media screen and (max-width: 740px) {

}

@media screen and (max-width: 400px) {

}

@media screen and (max-width: 320) {
  
}

/* respondivamente */

 /*  0: {
    items: 1
  },
  400: {
    items: 2
  },
  740: {
    items: 3
  },
  940: {
    items: 1
  } */