.testingmain {
    
    height: 100vh;

    .works1 {
        background-color: yellow;
    }
    .works2 {
        background-color: green;
    }
    .works3 {
        background-color: blue;
    }
}